<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="sdd-cordova-barcodescanner" version="1.0.0">
   <name>SDDBarcodeScanner</name>
   <js-module name="SDDBarcodeScanner" src="www/SDDBarcodeScanner.js">
      <clobbers target="SDDBarcodeScanner" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="SDDBarcodeScanner">
            <param name="android-package" value="sdd.cordova.barcodescanner.SDDBarcodeScanner" />
         </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/manifest">
         <!-- Camera permission -->
         <uses-permission android:name="android.permission.CAMERA"/>
         <uses-feature android:name="android.hardware.camera" android:required="true"/>
         <!-- Internet permission for WebView -->
         <uses-permission android:name="android.permission.INTERNET"/>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/manifest/application">
         <activity android:name="com.google.zxing.client.android.CaptureActivity" android:clearTaskOnLaunch="true" android:configChanges="orientation|keyboardHidden|screenSize" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:windowSoftInputMode="stateAlwaysHidden" android:exported="false"/>
         <activity android:name="com.google.zxing.client.android.encode.EncodeActivity" android:label="Share"/>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/SDDBarcodeScanner.java" target-dir="src/sdd/cordova/barcodescanner" />
      <source-file src="src/android/ScannerFragment.java" target-dir="src/sdd/cordova/barcodescanner"/>
      <resource-file src="src/android/activity_camera.xml" target="res/layout/activity_camera.xml" />
      <framework src="src/android/barcodescanner.gradle" custom="true" type="gradleReference"/>
   </platform>
</plugin>